{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

    body {
        font-family: 'Lora', serif;
    }

    .section {
        margin: 20px 0;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-family: 'Lora', serif;
    }

    .section-heading {
        font-size: 1.5em;
        color: black;
        margin-bottom: 15px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    .section-content {
        margin-bottom: 20px;
        font-family: 'Lora', serif;
    }

    .about-quote {
        text-align: center;
        color: #000;
        margin-top: 40px;
        padding: 20px;
        border: 2px solid #AA336A;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        font-family: 'Lora', serif;
    }

    .about-quote h2 i {
        font-size: .95em !important; 
    }


    .about-quote::after {
        content: '';
        position: absolute;
        left: 5%;
        bottom: 10px;
        width: 0;
        height: 2px;
        background-color: #AA336A;
        border-radius: 10px 10px 0 0;
        transition: width 2s ease;
    }

    .about-quote.animated::after {
        width: 90%;
    }

    .curved-underline-animation {
        position: relative;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
    }

    .curved-underline-animation::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 5px; 
        width: 0; 
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="5"><path d="M0,2.5 Q50,0 100,2.5 T200,2.5" stroke="%23AA336A" stroke-width="2" fill="none"/></svg>') no-repeat;
        transition: width 2s ease;
        background-size: 100% 100%; 
    }

    .animated::after {
        width: 100%; 
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .flex-item {
        flex: 1;
        margin: 10px;
        padding-bottom: 0;
        font-family: 'Lora', serif;
    }

    .image-right {
        max-width: 40%;
        margin-left: 20px;
        float: right;
        margin: 0 0 10px 20px;
    }

    @media (max-width: 1024px) {
        .about-quote {
            margin-bottom: 15%;
        }
    }


    @media only screen and (max-width: 768px) {
        .section {
            margin: 10px 0;
            padding: 10px;
        }

        .section-heading {
            font-size: 1.2em;
            margin-right: 20%;
        }

        .about-quote {
            font-size: 1em;
            padding: 10px;
        }

        .flex-container {
            flex-direction: column;
        }

        .flex-item {
            margin: 10px 0;
        }

        .image-right {
            max-width: 35%;
            margin: 0 0 10px 0;
            float: none;
        }
    }

    @media (max-width: 480px) {
        .image-right {
            width: 50%;
            max-width: 80%; 
            margin: 0 auto;
            margin-left: 25%;
            margin-bottom: 5%;
        }
    }

</style>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="flex-container">
        <div class="section flex-item">
            <h2 class="section-heading curved-underline-animation">Our Vision:</h2>
            <div class="section-content">
                <p>A world where youth can experience equitable opportunity for healthy, spiritual, mental, and physical growth with the support of caring adults.</p>
            </div>
        </div>

        <div class="section flex-item">
            <h2 class="section-heading curved-underline-animation">Our Mission:</h2>
            <div class="section-content">
                <p>Seeking to empower young adults, IVOC engages marginalized youth through non-traditional methods to help them better understand themselves, and express themselves.</p>
            </div>
        </div>
    </div>

    <div class="section flex-container">
        <div class="flex-item section-content">
            <h2 class="section-heading curved-underline-animation">What is IVOC:</h2>
            <img src="{% static 'images/aboutIVOC.jpg' %}" alt="About IVOC" class="img-fluid rounded image-right">
            <p>IVOC provides therapeutic services that foster personal empowerment through the creation of music and multimedia projects. Our approach encourages marginalized youth to partner with IVOC as they lean into the therapeutic process of self-expression. These healthy alternatives often prove to be effective in engaging adolescents who struggle with traditional modes of interpersonal communication.</p>
            <p>We bring our professional music and videography equipment to schools and programs throughout Central Massachusetts, eliminating barriers and providing equitable resources for some of our most marginalized youth.</p>
            <p>In addition to esteem-building and adopting healthy coping skills, our participants develop other important life skills and vocational skills. These skills are developed by taking a collaborative project from the planning stages through to completion. These interests can often blossom into passions that translate into career paths or lifelong avocations.</p>
        </div>
    </div>

    <div class="about-quote mt-5">
        <h2><i>"Worry weighs a person down: an encouraging word cheers a person up.”</i></h2>
    </div>
</div>
<br>
<br>
{% endblock %}

{% block extra_js %}

<script src="{% static 'js/chat-modal.js' %}"></script>
<script src="{% static 'js/about-underline.js' %}"></script>

{% endblock extra_js %}
