{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

    body {
        font-family: 'Lora', 'Nunito Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #fff;
        line-height: 1.6;
    }

    .counselors-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        max-width: 80%;
        margin: 0 auto;
    }

    .counselor-message {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        text-align: center;
        margin: 20px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    .counselor-message h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        color: #333;
        margin: 0.2rem 0 0.1rem 0; 
        font-size: 1.8rem;
    }

    .counselor-message h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        color: #555;
        margin: 0.5rem 0; 
        font-size: 1.3rem;
    }

    .counselor-message p {
        font-family: 'Lora', serif;
        font-size: 0.9rem;
        margin-bottom: 1em;
        color: #555;
    }

    .counselor-headshot img {
        width: 180px;
        height: auto;
        display: block;
        margin: 0 auto 20px;
        border-radius: 50%;
        border: 3px solid #ddd;
    }

    @media (max-width: 768px) {
        .counselors-container {
            grid-template-columns: 1fr;
        }

        .counselor-headshot img {
            width: 130px;
        }
    }

    .counselor-description {
        border-left: 4px solid #AA336A;
        padding-left: 20px;
    }

    .category-heading {
        text-align: center;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        color: #333;
        margin-top: 40px;
        grid-column: span 2; 
    }
</style>
<br>
<br>
<br>
<br>

<div class="counselors-container">    
    <div class="counselor-message">
        <h2>Keith Chester</h2>
        <h3>"K. Fingers"</h3>
        <h3>Music Engineer</h3>
        <div class="counselor-headshot">
            <img src="{% static 'images/KEITH2.jpg' %}" alt="Keith Chester Headshot"/>
        </div>
        <div class="counselor-description">
        <p>Keith has dedicated his career to working with youth as a counselor and mentor. He has a wealth of knowledge in music production, having produced several albums of his own.</p>
        </div>
    </div>

    <div class="counselor-message">
        <h2>Johneric Lavergne</h2>
        <h3>"Johneric Keys"</h3>
        <h3>Music Engineer</h3>
        <div class="counselor-headshot">
            <img src="{% static 'images/Johneric2.png' %}" alt="Johneric Lavergne Headshot"/>
        </div>
        <div class="counselor-description">
        <p>Johneric has over 10 years of experience working as a youth counselor in Worcester County and is also a skilled musician, producer, videographer, and photographer.</p>
        </div>
    </div>

    <div class="counselor-message">
        <h2>Lioner Alicea</h2>
        <h3>"DJ Kid Kash"</h3>
        <h3>Music Engineer</h3>
        <div class="counselor-headshot">
            <img src="{% static 'images/Lioner2.jpeg' %}" alt="Lioner Alicea Headshot"/>
        </div>
        <div class="counselor-description">
        <p>Lioner holds a bachelor's degree in audio engineering, providing a strong academic foundation and technical knowledge in the field. He is an established music engineer and DJ.</p> 
        </div>
    </div>
    
    <div class="counselor-message">
        <h2>Cai Hall</h2>
        <h3>Creative Coach</h3>
        <div class="counselor-headshot">
            <img src="{% static 'images/Cai2.jpeg' %}" alt="Cai Hall Headshot"/>
        </div>
        <div class="counselor-description">
        <p>Graduate student at Clark University.</p>
        </div>
    </div>

    <div class="counselor-message">
        <h2>Precious Sutton</h3>
        <h3>Creative Coach</h3>
        <div class="counselor-headshot">
            <img src="{% static 'images/Precious2.jpg' %}" alt="Precious Sutton Headshot"/>
        </div>
        <div class="counselor-description">
        <p>Undergraduate student at Clark University.</p>
        </div>
    </div>

    <div class="counselor-message">
        <h2>Angelina</h3>
        <h3>Creative Coach</h3>
        <div class="counselor-headshot">
            <img src="{% static 'images/Angelina.jpg' %}" alt="Angelina Headshot"/>
        </div>
        <div class="counselor-description">
        <p>Undergraduate student at Clark University.</p>
        </div>
    </div>
</div> 

{% endblock %}

{% block extra_js %}

<script src="{% static 'js/chat-modal.js' %}"></script>

{% endblock extra_js %}
