{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

    body {
        font-family: 'Lora', 'Nunito Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        background-color: #fff;
        line-height: 1.6;
    }

    .hero-section {
        color: #AA336A;
        padding: 40px 20px;
        text-align: center;
        padding-bottom: 0%;
    }

    .hero-section h1 {
        margin-bottom: 20px;
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }

    .donation-container{
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        padding-top: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 20px;
    }

    .donate-content-container, .donate-images-container, .left-column {
        background: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        align-items: center;
    }

    .quote-container {
        background-color: #f0f8ff;
        border-left: 4px solid #AA336A;
        padding: 15px;
        margin: 20px 0;
        font-style: italic;
    }

    .donate-image, .gallery-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 20px;
        padding-left: 0;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        color: #AA336A;
        margin-bottom: 0px;
    }

    .success-stories li, .donation-impact li {
        background-color: #fff;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .supportus-button {
        background-color: #AA336A;
        color: #ffffff;
        padding: 12px 24px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        display: block; 
        width: max-content; 
        margin: 0 auto; 
        text-align: center; 
    }

    .supportus-button:hover {
        background-color: #cf6094;
        color: white;
    }

    .donation-center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .owl-carousel .item img {
        width: 60%; 
        height: auto;
        margin: 0 auto;
    }

    .owl-nav button {
        background-color: black;
        color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 200px; 
        border: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 10px; 
    }

    .owl-nav {
        position: relative;
        text-align: center; 
        margin-top: 20px; 
    }

    .owl-nav button:hover {
        background-color: #333;
    }

    .owl-carousel .item {
        opacity: 0.5;
        transform: scale(0.7); 
        transition: all 0.3s ease;
    }

    .owl-carousel .center .item {
        opacity: 1;
        transform: scale(1.0);
    }

    .progress-container {
        width: 100%;
        background-color: #ddd;
        border-radius: 5px;
        margin: 20px 0;
    }

    .progress-bar {
        width: 0%;
        height: 60px;
        background-color: #AA336A;
        border-radius: 5px;
        text-align: center;
        line-height: 60px;
        color: white;
    }

    .success-stories-container {
        position: relative;
        width: 80%; 
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .success-stories-slideshow {
    overflow: hidden;
    position: relative;
    width: 100%; /* Adjust the width as needed */
}

    .slides-container {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    min-width: 100%; /* Ensure each slide is the same width as the container */
    text-align: center; /* Center the text within the slide */
}

    button.prev, button.next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        color: #AA336A;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        background-color: #f9f9f9;
        border: 1px solid #AA336A;
        z-index: 2;
        margin: 0;
        outline: none;
    }

    button.next {
        right: -50px;
    }

    button.prev {
        left: -50px;
    }

    button.prev:hover, button.next:hover {
        background-color: #AA336A;
        color: white;
        outline: none;
    }

    .donation-impact {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 1rem;
    }

    button.custom-prev-slide, button.custom-next-slide {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        color: #AA336A;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        background-color: #f9f9f9;
        border: 1px solid #AA336A;
        z-index: 2;
        outline: none;
    }

    button.custom-next-slide {
        right: 10px;
    }

    button.custom-prev-slide {
        left: 10px;
    }

    button.custom-prev-slide:hover, button.custom-next-slide:hover {
        background-color: #AA336A;
        color: white;
        outline: none;
    }

    @media (max-width: 1024px) {

        .donation-container {
            display: block; 
            padding: 20px; 
        }

        .left-column {
            order: -1; 
            margin-bottom: 20px; 
        }

        .donate-content-container {
            padding: 20px; 
        }            
    }

    @media (max-width: 480px) {

        .progress-container {
            font-size: 14px;
        }
}
</style>

<br>
<br>
<div class="hero-section">
    <h1>Support Our Mission</h1>
    <p>"Empowering youth through music and media for a brighter future."</p>
</div>

<div class="donation-container">
    <div class="left-column">
        <img src="{% static 'images/IVOCdonate.jpg' %}" alt="IVOC Donate Visual" class="donate-image">
        <img src="{% static 'images/IVOCDonateIMG.png' %}" alt="Impact Visual" class="donate-image">
    </div>

    <div class="donate-content-container" id="donate-now">
        <div class="quote-container">
            <p>"How aware a community is about the environment its young people are growing up in is the barometer to their development. Music and media can be the bridge and the wedge between young people and the support systems in place for them. Growth and overall wellness come from healthy outlets of self-expression." - IVOC</p>
        </div>

        <h2>Our Impact</h2>
        <p>At IVOC, we believe in the transformative power of music and media for youth. We have been diligently striving to make a significant impact in our community, fostering environments where creativity and growth can flourish:</p>
        <div class="progress-container">
            <div class="progress-bar" id="impactProgressBar"></div>
        </div>

        <h2>Success Stories</h2>
        <div class="success-stories-container">
            <button class="prev">&#10094;</button>
            <div class="success-stories-slideshow">
                <div class="slides-container">
                    <div class="slide">"What I like about IVOC is how kids are allowed to participate and create music freely. It is also a space where you can be yourself and where you will never be judged."
                    </div>
                    <div class="slide">"One thing I learned about myself during IVOC is that I am who I am and I don't have to try to please anybody else by being someone that I'm not."
                    </div>
                    <div class="slide">"Something I learned about myself is how to work with others. For example, how to help a friend when he didn't know how to add on to the beat for the first time in the studio"
                    </div>
                    <div class="slide">"The thing I like about IVOC is how the whole thing is just expressing yourself with music and words. It feels like a safe place where you aren't judged"
                    </div>
                </div>
            </div>
            <button class="next">&#10095;</button>
        </div>

        <h2>Your Donation Makes a Difference</h2>
        <br>
        <div class="donation-impact">
            Every contribution helps us provide essential resources and opportunities for youth to thrive through our programs. Your support fosters creativity and growth within our community. Donations help fund field trips, self-care initiatives, and community self-care outlets, ensuring our youth have access to valuable experiences and support systems. All contributions, no matter the size, is a step towards a brighter future.
        </div>
        <div class="donation-center">
            <p>Join us in making a meaningful impact today!</p>
        </div>
            <br>
        <a href="https://buy.stripe.com/5kAdT5gHl7ve4WA000" class="supportus-button" target="_blank">Donate to IVOC here</a>
    </div>
</div>
<br>

<div class="owl-carousel">
    <div class="item"><img src="{% static 'images/a.png' %}" alt="Slide 1"></div>
    <div class="item"><img src="{% static 'images/b.png' %}" alt="Slide 2"></div>
    <div class="item"><img src="{% static 'images/c.png' %}" alt="Slide 3"></div>
    <div class="item"><img src="{% static 'images/d.png' %}" alt="Slide 4"></div>
    <div class="item"><img src="{% static 'images/e.png' %}" alt="Slide 5"></div>
</div>

<br>
<br>

{% endblock %}

{% block extra_js %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script src="{% static 'js/chat-modal.js' %}"></script>
<script src="{% static 'js/donate-bar.js' %}"></script>
<script src="{% static 'js/donate-carousel.js' %}"></script>
<script src="{% static 'js/donate-slideshow.js' %}"></script>
<script src="{% static 'js/donate-scroll.js' %}"></script>

<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            center: true,  
            autoplay: false, 
            responsive:{
                0:{
                    items: 1
                },
                600:{
                    items: 2
                },
                1000:{
                    items: 3
                }
            }
        });
    });

</script>


{% endblock extra_js %}
