{% extends 'base.html' %}

{% load static %}

<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

{% block content %}

<style>

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

body, p {
    font-family: 'Lora', serif;
}

.alert-messages {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1050; 
    text-align: center; 
}

.alert-message {
    background-color: #90ee90; 
    color: black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: inline-block; 
    max-width: calc(100% - 40px);
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: grey;
}

.responsive-video {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
} 

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: center;
    z-index: 2; 
}

.video-overlay p {
    position: relative;
    top: -30%;
    transform: translateY(-50%);
    margin-bottom: 10px; 
    font-size: 25px;
}

#IVOClogo-homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#IVOClogo-homepage img {
    width: 70%; 
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}

.getintouch-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}

.getintouch-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    font-weight: bold;
    transition: background-color 0.3s;
    border: 2px solid black; 
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100px;
    height: auto;
    font-size: 22px;
    font-family: "Times New Roman", serif;
    min-width: 200px; 
    white-space: nowrap; 
    overflow: hidden; 
}

.getintouch-button:hover {
    background-color: rgb(164, 162, 162);
    color: black;
}

.black-textbox {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0; 
    text-align: center;
    height: auto;
    font-size: 20px;
    padding-top: 50px;
    margin-top: 0;
    position: relative;
    width: 100vw;
    box-sizing: border-box; 
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.textbox-content {
    max-width: 80%; 
    margin: 0 auto; 
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding-top: 20px; 
    padding-bottom: 20px;
}

.pink-line {
    height: 7px; 
    background-color: #AA336A; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    transform: translateY(-50%); 
}

.homepage-video {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 0px;
    padding-top: 0px;
}

.homepage-video video {
    display: block;
    margin: 0 auto;
    padding-top: 0;
}

.pink-textbox {
    background-color: #AA336A;
    position: relative;
    margin-top: 40px; 
    text-align: center;
    color: white;
    padding: 60px 20px; 
    font-size: 20px;
    width: 100vw;
    box-sizing: border-box; 
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.donate-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.donate-button {
    display: inline-block;
    padding: 35px 35px;
    background-color: #AA336A;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    font-weight: bold;
    transition: background-color 0.3s;
    border: 2px solid white; 
}

.donate-button:hover {
    background-color: #cf6094;
    color: white;
}

.homepage-text {
    text-align: center;
    color: #AA336A;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.homepage-text p {
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

.slider {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #AA336A; 
    padding: 60px 20px;
    width: 100vw;
    box-sizing: border-box; 
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.slides-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 125%; 
}

.slide {
    min-width: 70%; 
    padding: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Lora', serif;
    text-align: center;
    padding-left: 15%;
    padding-right: 5%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px; 
    height: 60px;
    padding: 0; 
    background-color: white;
    color: #AA336A;
    font-size: 20px;
    border-radius: 50%; 
    line-height: 60px; 
    text-align: center; 
    z-index: 10;
    outline: none;
}

.prev {
    left: 12%;
}

.next {
    right: 12%;
}

.video-container {
    margin: auto;
    width: 1250px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.video-block {
    flex-basis: 45%; 
    text-align: center; 
    margin-bottom: 20px; 
}

.video-block video {
    width: 100%; 
    height: auto; 
}

.video-block p {
    overflow-wrap: break-word;
    word-wrap: break-word; 
    white-space: normal;
    font-family: "Georgia", serif;
    font-size: 16px;
    line-height: 25px;
}

.video-container .video-description {
    word-wrap: break-word;
    font-family: 'Lora', serif;
}

.getintouch-homepage-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}

.getintouch {
    display: inline-block;
    padding: 20px 40px;
    background-color: #AA336A;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none; 
    font-size: 25px;
    border-radius: 5px; 
}

.getintouch:hover {
    background-color: #cf6094; 
    color: white;
}

.pink-line-top {
    height: 7px;
    background-color: #AA336A;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    left: auto; 
    right: 0;
}

.social-dropdown-menu {
    position: absolute;
    left: auto; 
    right: 0;   
}

.format-home{
    font-size: 18px;
    font-family: 'Lora', serif;
}

.carousel-wrapper {
    background-color: #AA336A; 
    padding: 60px 0; 
    width: 100vw;
    position: relative;
    left: 50%; 
    margin-left: -50vw; 
}

.carousel-content {
    max-width: 70%; 
    margin: 0 auto; 
}

.owl-carousel .item {
    text-align: center;
    color: white; 
    font-family: 'Lora', serif; 
    font-size: 20px; 
    padding: 20px; 
}

.owl-carousel .item p.format-home {
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px; 
}

.owl-nav button.owl-prev, 
.owl-nav button.owl-next {
    background-color: white; /* Set the arrow background to white */
    color: #AA336A; /* This is assuming the arrow icons are controlled by the 'color' property */
    border: none;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    outline: none;
    cursor: pointer;
    z-index: 10;
}

.owl-nav button.owl-prev {
    left: -60px; 
}

.owl-nav button.owl-next {
    right: -60px;
}

.owl-nav button.owl-prev:hover, 
.owl-nav button.owl-next:hover {
    background-color: #FADADD; 
}

@media (max-width: 1024px) {
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; 
        height: 400px; 
        overflow: hidden;
        margin-top: 80px; 
    }

    .responsive-video video {
        position: absolute;
        top: -10%; 
        left: 0;
        width: 100%;
        height: 120%; 
        object-fit: cover;
    }

    .video-overlay p {
        font-size: 22px;
        top: -200px;
    }

    .getintouch-button {
        top: 85%;
        font-size: 18px;
        padding: 6px;
    }

    .IVOClogo-homepage {
        max-width: 150%;
    }

    #IVOClogo-homepage img {
        width: 80%; 
        height: auto; 
    }

    .black-textbox, .pink-textbox {
        padding: 40px;
    }

    .black-textbox{
        font-size: 22px;
    }

    .pink-textbox p {
        font-size: 22px;
    }

    .homepage-text p {
        font-size: 22px;
    }

    .textbox-content {
        max-width: 100%;

    }

    .textbox-content p {
        font-size: 18px;
        font-family: 'Lora', serif;
    }

    .pink-line, .pink-line-top {
        height: 4px;
    }

    .slider {
        padding: 10px;
        position: relative;
    }

    .slides-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    .slide {
        min-width: 100%; 
        padding: 20px; 
        color: white;
        font-size: 22px; 
        font-family: "Georgia", serif;
        text-align: center;
        line-height: 1.5; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        height: 300px; 
        box-sizing: border-box; 
    }

    .slide p:first-child {
        margin-bottom: 10px; 
    }

    .prev, .next {
        width: 40px; 
        height: 40px;
        font-size: 16px;
        position: absolute;
        top: 80%;
        line-height: 40px;
        border-radius: 50%;
        background-color: white;
        color: #AA336A;
        text-align: center;
        outline: none;
    }

    .prev {
        left: 50%;
        transform: translateX(-150%);
    }

    .next {
        right: 50%;
        transform: translateX(150%);
    }

    .getintouch {
        padding: 25px 40px;
        font-size: 24px;
        background-color: #AA336A; 
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s;
        border: none;
    }

    .homepage-video {
        position: relative;
        padding-bottom: 56.25%;
        height: auto; 
        overflow: hidden;
    }

    .homepage-video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        width: 100%; 
        box-sizing: border-box; 
    }

    .video-block {
        flex: 1 1 calc(50% - 40px); 
        text-align: center;
        margin-bottom: 20px;
        max-width: calc(50% - 40px); 
        font-family: 'Lora', serif;
    }

    .video-block video {
        width: 100%;
        height: auto;
    }

    .video-block p {
        font-size: 18px;
        font-family: 'Lora', serif;
    }

    .format-home {
        font-size: 20px; 
    }

    .donate-button {
        font-size: 24px;
    }
}

@media (max-width: 820px) {
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; 
        height: 400px; 
        overflow: hidden;
        margin-top: 80px; 
    }

    .responsive-video video {
        position: absolute;
        top: -10%; 
        left: 0;
        width: 100%;
        height: 120%; 
        object-fit: cover;
    }

    .video-overlay p {
        font-size: 20px;
        top: -150px;
    }

    .getintouch-button {
        top: 85%;
        font-size: 18px;
        padding: 6px;
    }

    .IVOClogo-homepage {
        max-width: 150%;
    }

    #IVOClogo-homepage img {
        width: 80%; 
        height: auto; 
    }

    .black-textbox, .pink-textbox {
        padding: 40px;
    }

    .black-textbox{
        font-size: 22px;
    }

    .pink-textbox p {
        font-size: 22px;
    }

    .homepage-text p {
        font-size: 22px;
    }

    .textbox-content {
        max-width: 100%;

    }

    .textbox-content p {
        font-size: 18px;
    }

    .pink-line, .pink-line-top {
        height: 4px;
    }

    .slider {
        padding: 10px;
        position: relative;
    }

    .slides-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    .slide {
        min-width: 100%; 
        padding: 20px; 
        color: white;
        font-size: 22px; 
        font-family: "Georgia", serif;
        text-align: center;
        line-height: 1.5; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        height: 300px; 
        box-sizing: border-box; 
    }

    .slide p:first-child {
        margin-bottom: 10px; 
    }

    .prev, .next {
        width: 40px; 
        height: 40px;
        font-size: 16px;
        position: absolute;
        top: 80%;
        line-height: 40px;
        border-radius: 50%;
        background-color: white;
        color: #AA336A;
        text-align: center;
        outline: none;
    }

    .prev {
        left: 50%;
        transform: translateX(-150%);
    }

    .next {
        right: 50%;
        transform: translateX(150%);
    }

    .getintouch {
        padding: 25px 40px; 
        font-size: 24px; 
        background-color: #AA336A; 
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s;
        border: none;
    }

    .homepage-video {
        position: relative;
        padding-bottom: 56.25%; 
        height: auto;
        overflow: hidden;
    }

    .homepage-video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        width: 100%; 
        box-sizing: border-box;
    }

    .video-block {
        flex: 1 1 calc(50% - 40px); 
        text-align: center;
        margin-bottom: 20px;
        max-width: calc(50% - 40px); 
    }

    .video-block video {
        width: 100%;
        height: auto;
    }

    .video-block p {
        font-size: 18px;
    }

    .format-home {
        font-size: 20px; 
    }
}

@media (max-width: 768px) {
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; 
        height: 0;
        overflow: hidden;
        margin-top: 80px; 
    }

    .responsive-video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-overlay p {
        font-size: 18px;
        top: -120px; 
    }

    .getintouch-button {
        top: 85%;
        font-size: 14px;
        padding: 8px;
    }

    .IVOClogo-homepage {
        max-width: 150%;
    }

    #IVOClogo-homepage img {
        width: 80%; 
        height: auto; 
    }

    .black-textbox, .pink-textbox {
        padding: 20px;
        font-size: 14px;
    }

    .pink-textbox p {
        font-size: 16px;
    }

    .homepage-text p {
        font-size: 18px;
    }

    .textbox-content {
        max-width: 100%;
    }

    .textbox-content p {
        font-size: 16px;
    }

    .pink-line, .pink-line-top {
        height: 4px;
    }

    .slider {
        padding: 10px;
        position: relative;
    }

    .slides-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    .slide {
        min-width: 100%; 
        padding: 20px; 
        color: white;
        font-size: 18px; 
        font-family: 'Lora', serif;
        text-align: center;
        line-height: 1.5; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        height: 300px; 
        box-sizing: border-box; 
    }

    .slide p:first-child {
        margin-bottom: 10px; 
    }

    .prev, .next {
        width: 40px; 
        height: 40px;
        font-size: 16px;
        position: absolute;
        top: 80%;
        line-height: 40px;
        border-radius: 50%;
        background-color: white;
        color: #AA336A;
        text-align: center;
        outline: none;
    }

    .prev {
        left: 50%;
        transform: translateX(-150%);
    }

    .next {
        right: 50%;
        transform: translateX(150%);
    }

    .video-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
        gap: 20px; 
    }

    .video-block {
        flex-basis: 48%; 
        text-align: center;
        margin-bottom: 20px;
    }

    .video-block video {
        width: 100%;
        height: auto;
    }

    .video-block p {
        font-size: 14px;
    }

    .getintouch {
        padding: 20px 30px; 
        font-size: 20px; 
        background-color: #AA336A; 
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s;
        border: none;
    }

    .homepage-video {
        position: relative;
        padding-bottom: 56.25%; 
        height: auto; 
        overflow: hidden;
    }

    .homepage-video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .owl-nav button.owl-prev, .owl-nav button.owl-next {
        position: static;  /* Allow buttons to sit within the flow of the document */
        display: inline-block;  /* Line up buttons next to each other */
        margin: 10px;  /* Add some margin for spacing */
        top: auto;
        transform: none;
        left: auto;
        right: auto;
        width: 40px;  /* Smaller size for mobile */
        height: 40px;
        line-height: 40px;
    }

    .owl-nav {
        text-align: center;
        font-size: 16px; 
    }

    .owl-carousel {
        margin-bottom: 60px; 
    }

    .carousel-wrapper {
        padding: 30px 0;  
    }
}

@media (max-width: 480px) {
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; 
        height: 400px; 
        overflow: hidden;
        margin-top: 80px;
    }

    .responsive-video video {
        position: absolute;
        top: -10%; 
        left: 0;
        width: 100%;
        height: 120%; 
        object-fit: cover;
    }

    .video-overlay p {
        font-size: 18px;
        top: -85px;
    }

    .getintouch-button {
        top: 85%;
        font-size: 16px;
        padding: 6px;
    }

    .IVOClogo-homepage {
        max-width: 150%;
    }

    #IVOClogo-homepage img {
        width: 100%; 
        height: auto; 
    }

    .black-textbox, .pink-textbox {
        padding: 20px;
        font-size: 12px;
    }

    .pink-textbox p {
        font-size: 16px;
    }

    .homepage-text p {
        font-size: 16px;
    }

    .textbox-content {
        max-width: 100%;
    }

    .textbox-content p {
        font-size: 16px;
    }

    .pink-line, .pink-line-top {
        height: 4px;
    }

    .slider {
        padding: 10px;
        position: relative;
    }

    .slides-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    .slide {
        min-width: 100%;
        padding: 20px; 
        color: white;
        font-size: 16px; 
        font-family: 'Lora', serif;
        text-align: center;
        line-height: 1.5; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        height: 300px; 
        box-sizing: border-box; 
    }

    .slide p:first-child {
        margin-bottom: 10px; 
    }

    .prev, .next {
        width: 40px; 
        height: 40px;
        font-size: 16px;
        position: absolute;
        top: 80%;
        line-height: 40px;
        border-radius: 50%;
        background-color: white;
        color: #AA336A;
        text-align: center;
        outline: none;
    }

    .prev {
        left: 50%;
        transform: translateX(-150%);
    }

    .next {
        right: 50%;
        transform: translateX(150%);
    }

    .video-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 100%;
        box-sizing: border-box;
        padding: 10px; 
    }

    .video-block {
        width: 100%; 
        max-width: 100%; 
        margin-bottom: 20px; 
        text-align: center;
    }

    .video-block video {
        width: 90%; 
        height: auto; 
        margin: 0 auto; 
    }

    .video-block p {
        font-size: 16px; 
        text-align: center; 
        width: 90%; 
        margin: 0 auto; 
        padding-top: 3%;
    }

    .getintouch {
        padding: 15px 30px; 
        font-size: 20px; 
        background-color: #AA336A; 
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s;
        border: none;
    }

    .homepage-video {
        position: relative;
        padding-bottom: 56.25%;
        height: auto; 
        overflow: hidden;
    }

    .homepage-video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .donate-button {
        font-size: 18px;
    }

    .format-home {
        font-size: 14px; 
    }
    
}

</style>

{% if messages %}
<div class="alert-messages">
    {% for message in messages %}
    <div class="alert-message">
        {{ message }}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="responsive-video">
    <video width= 100% height= 900px autoplay loop muted playsinline>
        <source src="https://ivoc.nyc3.digitaloceanspaces.com/ivoc/Video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="video-overlay">
        <p><b>Building opportunities for youth empowerment through <i>self-expression</i></b></p>

        <div id="IVOClogo-homepage">
            <img src="{% static 'images/IVOCHOMEPAGE.png' %}" alt="Ivoc Logo Homepage"/>
        </div>

        <div class="getintouch-button-container">
            <a href="/connect" class="getintouch-button">Get in Touch</a>
        </div>
    </div>
</div>
<br>
<br>

<div class="black-textbox">
    <div class="pink-line-top"></div> 
    <div class="textbox-content">
        <div class="pink-line"></div>
        <p style="font-family: 'Lora', serif;">Inner Voice Outer Change (IVOC) provides therapeutic services that foster youth empowerment through the creation of music and multimedia projects. Our approach encourages marginalized youth to partner with IVOC as they lean into the therapeutic process of self-expression. These healthy alternatives often prove to be effective in engaging adolescents who struggle with traditional modes of interpersonal communication.</p>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="homepage-video">
    <video width= 1100px height= 650px autoplay muted loop controls playsinline>
        <source src="https://ivoc.nyc3.digitaloceanspaces.com/ivoc/IVOC Upstream Initiative.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<br>

<div class="pink-textbox">
    <h3>Go <i>upstream</i> with us!</h3>
    <p style="font-family: 'Lora', serif;">We began our Upstream Initiative to support the mental well-being of our kids before they face serious challenges. We aim to help them develop healthy coping methods early on. With your help, our Upstream Initiative will reward students for academic success by providing FREE access to self-care options. Join us in taking proactive steps to support their well-being!</p>

    <div class="donate-button-container">
        <a href="/donate" class="donate-button">Donate to IVOC here</a>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="homepage-text">
    <p style="font-family: 'Montserrat', sans-serif;"><b>Our Why:</b> The conversation that changed everything. The birth of IVOC happened when we finally started listening to our youth.</p>
    <br>
    <div class="homepage-video">
        <video width= 1100px height= 650px controls controls playsinline poster="{% static 'images/birthThumbnail.jpg' %}">
            <source src="https://ivoc.nyc3.digitaloceanspaces.com/ivoc/The birth of IVOC.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="carousel-wrapper">
    <div class="carousel-content">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <p>"The thing I like about IVOC is how the whole thing is just expressing yourself with music and words. It feels like a safe place where you aren't judged"</p>
                <p class="format-home">Testimonials from our participants</p>
            </div>
            <div class="item">
                <p>"Something I learned about myself is how to work with others. For example, how to help (another member of the group) when he didn't know how to add on to the beat for the first time in the studio"</p>
                <p class="format-home">Testimonials from our participants</p>
            </div>
            <div class="item">
                <p>"One thing I learned about myself during IVOC is that I am who I am and I don't have to try to please anybody else by being someone that I'm not. I also learned that rapping makes me feel like I can channel all my emotions into the rap and allow people to feel the same way"</p>
                <p class="format-home">Testimonials from our participants</p>
            </div>
            <div class="item">
                <p>"What I like about IVOC is how kids are allowed to participate and create music freely. It is also a space where you can be yourself and where you will never be judged"</p>
                <p class="format-home">Testimonials from our participants</p>
            </div>
            <div class="item">
                <p>"My favorite/funniest time at IVOC was when me and (other members of the group) were in a circle, freestyling. Even though I was bad at it, I kept saying random things and we all just started laughing at each other"</p>
                <p class="format-home">Testimonials from our participants</p>
            </div>
        </div>
    </div>
</div>




<br>
<br>
<br>
<br>
<br>
<br>

<div class="video-container">
    <div class="video-block">
        <video width="320" height="240" controls playsinline poster="{% static 'images/SummerThumbnail.jpg' %}">
        <source src="https://ivoc.nyc3.digitaloceanspaces.com/ivoc/IVOCSummer.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        <p></p>
        <p class="video-description" style="font-family: 'Lora', serif;"><b>Event: <i>Summer Jumpoff</i></b> - IVOC's inaugural youth showcase was a night to remember! We saw our students shine as they performed songs and showcased videos they created as a part of IVOC.’s music and videography programs in Worcester, MA.</p>
    </div>
    <div class="video-block">
        <video width="320" height="240" controls playsinline poster="{% static 'images/ProjectThumbnail.jpg' %}">
        <source src="https://ivoc.nyc3.digitaloceanspaces.com/ivoc/Project.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        <p></p>
        <p class="video-description" style="font-family: 'Lora', serif;"><b>Project: <i>You Gotta See It To Be It</i></b> - This video was co-created with the help of our black and brown youth. We featured the inspiring story of Lou Brady, the President and CEO of Family Health Center of Worcester, so that our young viewers can see themselves in him. Please watch and share this with a young person who could use some uplifting.   <p>
    </div>
</div>

<div class="video-container">
    <div class="video-block">
        <video width="320" height="240" controls playsinline poster="{% static 'images/PromiseThumbnail.jpg' %}">
        <source src="https://ivoc.nyc3.digitaloceanspaces.com/ivoc/Our Promise.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        <p></p>
        <p class="video-description" style="font-family: 'Lora', serif;"><b>Project: <i>Our Promise</i></b> - A collaborative production between IVOC Youth, Votary Films, and Family Health Center of Worcester (FHCW), “Our Promise” is based on FHCW’s mission to support and inspire up and coming professionals of color, by providing internship and mentorship opportunities.</p>
    </div>
    <div class="video-block">
        <video width="320" height="240" controls playsinline poster="{% static 'images/ThumbnailTestimonial.png' %}">
        <source src="https://ivoc.nyc3.digitaloceanspaces.com/ivoc/Testimonials.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        <p></p>
        <p class="video-description" style="font-family: 'Lora', serif;"><b>Testimonials: <i>Youth Voice</i></b> - This video was co-createdIVOC’s videography program provides opportunities for youth to engage in creative storytelling. They learn the technical aspect of videography and develop healthy communication skills along the way. </p>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="getintouch-homepage-bottom">
    <a href="/connect" class="getintouch">Get in Touch</a>
</div>
<br>
<br>
<br>
<br>

{% endblock content %}

{% block extra_js %}

<script src="{% static 'js/chat-modal.js' %}"></script>
<script src="{% static 'js/homepage-slideshow.js' %}"></script>
<script>
    $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop: true, 
        margin: 10, 
        nav: true, 
        dots: false, 
        navText: ["&#10094;", "&#10095;"], 
        items: 1, 
        autoplay: false, 
        autoplayTimeout: 5000,
        smartSpeed: 800 
    });
});


</script>

{% endblock extra_js %}
