{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .login-container {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-container h3, .login-container hr, .login-container form, .login-container p {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form p {
        margin: 10px 0; 
    }

    form button {
        margin-top: 20px;
    }

    .signup-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-container p {
        margin-right: -100px; /* Adjust this value to control the spacing */
    }

    .login-container p {
        margin-top: 20px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        .login-container {
            margin: 20px;
            padding: 15px;
        }

        form p {
            margin: 5px 0;
        }

        form button {
            margin-top: 15px;
        }

        .login-container h3 {
            font-size: 1.5rem;
        }
    }
</style>
<br>
<br>
<br>
<br>

<div class="login-container">
    <h3>Login</h3>
    <br>
    <hr>

    <form action="" method="POST">
       {% csrf_token %}
       {% for field in form %}
           <p>{{ field.label }}: <br> {{ field }}</p>
       {% endfor %}
       <button type="submit">Login</button>
    </form>
    
    <div class="signup-container">
        <p>Don't have an account?</p>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Signup</button>
        </form>
    </div>

    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

{% block extra_js %}

<script src="{% static 'js/chat-modal.js' %}"></script>

{% endblock extra_js %}
