{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .login-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .login-container h3, .login-container hr, .login-container form, .login-container p {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form p {
        margin: 10px 0; 
    }

    form button {
        margin-top: 20px;
    }

    .login-container p {
        margin-top: 20px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

</style>
<br>
<br>


<div class="login-container">
    <h3>Login</h3>
    <br>
    <hr>

    <form action="" method="POST">
       {% csrf_token %}
       {% for field in form %}
           <p>{{ field.label }}: <br> {{ field }}</p>
       {% endfor %}
       <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
    var modal = document.getElementById('chatModal');

    var btn = document.querySelector('.chat-button');

    var span = document.getElementsByClassName("close")[0];

    function openModal() {
        modal.style.display = "block";
        modal.style.top = (window.pageYOffset + 200) + "px";

    }

    function closeModal() {
        modal.style.display = "none";
    }

    btn.onclick = openModal;

    span.onclick = closeModal;

    window.onclick = function (event) {
        if (event.target == modal) {
            closeModal();
        }
    }
});


</script>
{% endblock extra_js %}



