{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

    body {
        font-family: 'Lora', 'Arial', sans-serif; 
        background-color: #f9f9f9; 
    }
    
    .PV-content-area {
        max-width: 800px;
        margin: 80px auto; 
        padding: 40px;
        background-color: #fff; 
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        text-align: center;
    }

    .PV-content-title {
        font-family: 'Montserrat', sans-serif; 
        color: #AA336A; 
        font-size: 40px; 
        margin-bottom: 30px; 
    }

    .PV-content-description {
        font-family: 'Lora', serif;
        font-size: 18px; 
        line-height: 1.6; 
        margin-bottom: 30px; 
        color: #333; 
    }

    @media (max-width: 768px) {
        .PV-content-area {
            padding: 20px; 
            margin: 40px auto; 
        }

        .PV-content-title {
            font-size: 30px;
        }

        .PV-content-description {
            font-size: 16px;
        }
    }
</style>
<br>
<br>
<br>

<div class="PV-content-area">
    <h1 class="PV-content-title">Photo & Video</h1> 
    <p class="PV-content-description">
        Youth are provided the opportunity to collaborate with professional videographers and develop a 
        project from beginning to end. This is an especially powerful internship opportunity for young aspiring 
        videographers, writers, and future creatives alike. 
    </p>

    <p class="PV-content-description">
        Throughout this opportunity, we ensure youth share 
        equitable space with the team and their perspective is equally valued. IVOC core themes within this 
        opportunity are self-identity (who are you), goal setting (to achieve the dream), and professionalism. 
        Connect with us to learn more about this inspiring opportunity.
    </p>
</div>

{% endblock %}

{% block extra_js %}

<script src="{% static 'js/chat-modal.js' %}"></script>

{% endblock extra_js %}
